
%________________________________________________________________________________________
% @brief    LaTeX Resume for Carl Myers
% @author   Carl Harris Myers
% @url      https://www.cmyers.org
% @info     based on info from http://www.maxburstein.com/blog/creating-resume-using-latex/
%________________________________________________________________________________________
% TODO: prevent weird page breaks after headings - maybe \begin{samepage} ?
% TODO: consider HTML resume instead (so I can have active elements) with PDF conversion tool like https://www.quora.com/What-is-the-best-way-to-generate-a-PDF-file-from-HTML-and-CSS
\documentclass[line, margin]{res}

\begin{document}

\name{\Large Carl Harris Myers}
\address{ Roseville, CA $\bullet$ (206) 931-9916 $\bullet$ cmyers@cmyers.org $\bullet$ https://cmyers.org $\bullet$ Rev: {{REVISION}} }

\begin{resume}

\section{SUMMARY}
As a manager and staff software engineer with 20 years of industry experience, I
am passionate about building organizations, tools, and workflows that multiply
productivity and delight developers freeing them to focus on products that
delight customers.

{\bf NOTE: I am not currently open to new roles at this time.
{%- if SHORT_RESUME %}  This is an abbreviated resume to fit on two pages.  An extended version is available at http://cmyers.org/resume/resume-full.pdf
{%- elif LONG_RESUME %}  This is an extended resume with complete work history.  An abbreviated two-page version is available at http://cmyers.org/resume/resume-short.pdf
{%- endif -%}
}

\section{EXPERIENCE}
{\bf Indeed, Inc.} -- Austin, TX and Remote from Roseville, CA
\\
\textit{Software Engineer Manager (TDM3), CI Platform} \hfill {\bf September 2022 -- Present}
\begin{itemize}
\item
Owned the company wide migration from Jenkins to Gitlab CI. Drove OKR of sunsetting old system (~30,000 jobs across 2,000 projects performing 10,000 builds per week).
\item
Managed a team of engineers including a Sr. SWE, two SWE2, a SWE1, and an intern. Also worked closely with a team of 6 contractors. Regular 1-1s and mentoring with direct team as well as several engineers acorss the organization. Helped with performance evaluation and calibration process for reviews for all direct reports. Worked regularly with project management to prioritize features and engage customers in the migration, in addition to setting and measuring OKRs.
% TODO: when X's promo is official, add that here.
\item
Assisted team in accomplishing our goals despite limited resources by championing an inner-source model. By encouraging and prioritizing contributions from other teams, external contributions went from 2 (Q4-Q1) to 19 (Q2-Q3), and several of these contributions were essential to meeting OKRs both for our team and our sibling teams. Customers of all levels (Intern to Principal Engineer) participiated and this created opportunities for mentorship and cross-organizational impact for our team.
\item
Indeed relies upon Gitlab, an open source project, for our SCM and CI needs. Pitched an intern project to contribute to Gitlab in order to reduce uncertainty and mitigate risk so we are better positioned to contribute in the future. A blocking bug was discovered during the intern project and we were able to fix it ourselves and contribute it to Gitlab. Without this project, we would have had to wait for Gitlab to fix the bug which probably would have delayed our OKRs by at least a quarter.
\item
After years of steady grass-roots efforts to induce a major company-wide build tool project, influenced others (SWE4 Architect for our T1, SWE4 Architect for our T2, SWE3 Architect for our neighboring T3) to start a slack channel, problem space review, team proposal, and a larger discussion about the project. The idea is now socialized across the organization and the proposal was adopted to create a team and build a proof of concept in 2023.
\item
Participated in recruiting and interviewing senior industry hires.
\end{itemize}
\textit{Staff Software Engineer (SWE3), CI Platform} \hfill {\bf July 2021 -- August 2022}
\begin{itemize}
\item
Drove problem space and design reviews for the next generation CI system at Indeed, Gitlab CI. Obtained buy-in, set roadmap, and owned project outcomes. Drove company wide builds in the new system from 25% to 37% during a 4-month period.
\item
Created metrics and a dashboard to track migration progress and worked with product management to set and measure OKRs.
\item
Mentored other engineers on the team and sibling teams, ranging from SWE1 to Sr. SWE. Performed code reviews and design reviews to guide other engineers. Participated in interviewing including for senior industry hires.
\end{itemize}
\textit{Staff Software Engineer (SWE3), SMB Engineering Excellence} \hfill {\bf January 2020 -- July 2021}
\\
\begin{itemize}
{% if LONG_RESUME -%}
\item
Contributed to an effort to root-cause and fix server toast errors across the
organization, including force-multiplying workflow improvements such as
enabling request tracing across many services and ensuring the data was
available in Datadog APM and Kibana.
{%- endif -%}
\item
Worked across the SMB organization to move projects onto a platform for
isolating testing environments which reduced failures due to testing
dependencies in the shared QA environment and also ran significantly faster
than the previous way of doing that in some cases.  Daily work included jumping
into a new codebase and coming up to speed frequently, and working with many
different teams at once.
\item
Helped drive company-wide effort to move projects to push-on-green.  Succeeded
in meeting OKRs by driving rate of push-on-green deployed tickets from 40\% to
90\%.
{% if LONG_RESUME -%}
\item
Planned and executed project to enable a large legacy backend service to use
push-on-green, which required measuring and improving test coverage, enabling
use of hermetic integration testing via an in-house tool built on top of
Kubernetes, streamlining the deployment pipeline, and overcoming both social
and technical hurdles.
\item
Wrote and delivered a git merge driver to automatically resolve conflicts in
build.lock files, reducing developer frustration and preventing people from
avoiding static dependencies.
\item
Wrote and delivered a test running framework to run tests continuously, collect
output and artifacts, and analyze them in order to measure pass rates, flake
rates, and reliability.
\item
Participated in regular weekly Software Development Lifecycle Guild meetings
where I contributed to long term planning for Indeed's developer workflow and
tool ecosystem.
\item
Assisted in training and mentoring by contributing to some documentation and
presentations around the push-on-green effort.  Was the sole contributor in
other training like the Test Reliability Playbook and related efforts to
improve test reliaiblity across SMB and the company as a whole.
{%- endif -%}
\end{itemize}

{\bf Cloudera, Inc.} -- Palo Alto, CA and Austin, TX
\\
\textit{Build and Release Engineer (IC4)} \hfill {\bf May 2016 -- January 2020}
\\
\begin{itemize}
\item
Solely responsible for writing, testing, and deploying several features for the
Automated Review Tool (ART) which launched tiered test runs for developer
submitted code reviews.
{% if LONG_RESUME -%}
ART ensures a successful build for each proposed change, and upon completion runs increasingly comprehensive tiers of
test execution.
{%- endif -%}
ART is a Python Flask application.
\item
In support of a migration to a Docker based build system, rewrote build and test code to deliver more reliable and
developer friendly builds.
{%- if LONG_RESUME %}
The end result achieved cost savings and decreased
maintenance burden.  Backported system to legacy branches as well.  The
polyglot stack included Python, Java, C++, and others in the Hadoop ecosystem.
{%- endif %}
\item
Migrated 30+ independent component teams to a new
commit workflow and implemented new build and test code wherever necessary.
Significantly improved build stability and reduced developer roadblocks due
to broken builds.
{%- if LONG_RESUME %}
Before merging changes, this new system vetted all developer commits by
running unit tests, an additional full stack build, and later tiered
integration test runs, to supplement code reviews.
{%- endif %}
{% if LONG_RESUME %}
\item
Designed, wrote, tested, and delivered a validation tool to confirm artifacts released to public website match expectations.
{% endif %}
\item
Regarded as company-wide Git expert and defacto owner of all Git services.
{%- if LONG_RESUME %}
Responsibilities included configuring and maintaining multiple instances of
Gerrit, including replication between Gerrit instances and GitHub, supporting
issues like repository corruption and authentication issues, and consulting on
Git best practices such as repository partitioning and layout, branching
strategies, etc.
{%- endif %}
{% if LONG_RESUME %}
\item
As part of the on-call rotation, supported all developer workflows and product branching/releases by resolving hundreds of tickets impacting individuals across the company.
{% endif %}
\end{itemize}

{\bf PernixData, Inc.} -- San Jose, CA
\\
\textit{Tools Engineer} \hfill {\bf June 2015 -- May 2016}
\\
\begin{itemize}
\item
Sole developer in the migration from a legacy Git server to Atlassian Bitbucket Server.
\item
Sole developer of several additional plugins for the Atlassian ecosystem.
See open source section below, source available.
{% if LONG_RESUME %}
\item
Designed, wrote, tested, and delivered a fix tracking tool called the Entomologizer, for which I was solely responsible.
\item
Exclusively responsible for maintaining legacy build systems while contributing to a new build system.
\item
Primary developer responsible for releases and branching activities.
{% endif %}
\end{itemize}

{\bf Palantir Technologies, Inc.} -- Palo Alto, CA
\\
\textit{Software Engineer, Internal Tools Team} \hfill {\bf April 2009 -- June 2015}
\\
\begin{itemize}
\item
Exclusively led the migration of company-wide source control from Subversion to Git which
delivered a build system that guaranteed build stability and enabled automated
code testing.
{% if LONG_RESUME -%}
Palantir realized significant gains in productivity and quality.
{%- endif %}
\item
As primary developer, wrote and maintained several plugins for the Atlassian ecosystem.
{%- if LONG_RESUME %} Delivered reduced support burden by enabling self-service access to the build
system for all projects in the company.
See open source section below, source available.
{%- endif %}
By 2015, over 500 projects were building using Stashbot, one such example on which I was the sole developer.
\item
{% if LONG_RESUME %}
As the first and most tenured engineer on the ITOOLS team, provided scaled
support through guidance, best practices, customized tools, just-in-time
solutions, and proactive recommendations that decreased the support burden and
facilitated the exponential expansion of the company as they grew from 200 to
over 1000 employees.
{% else %}
Provided scaled support that facilitated the exponential expansion of the company as they grew from 200 to
over 1000 employees.
{% endif %}
{% if LONG_RESUME %}
\item
Did many recruiting activities.  Helped to craft job descriptions to appeal to
the correct candidates.  Trained others on effective interviewing techniques
both social and technical, and personally did over 200 interviews for the
company.
{% endif %}
\end{itemize}
{\bf Amazon.com} -- Seattle, WA
\\
\textit{SDE, Multiple Teams} \hfill {\bf March, 2006 -- January, 2009}
\\
\begin{itemize}
\item
{% if LONG_RESUME %}
As project tech lead, worked on a localization tool which improved turn around times and reduced
costs for string translation.
\item
Helped maintain and support a complex build system used by over 2000 developers
which enforced unrivaled reproducibility, consistency, and dependency
management.  The tool regularly built a codebase which exceeded 200GB and 8
million files, split across more than 13,000 discrete packages.
{% else %}
Helped support the build system which enforced unrivaled reproducibility, consistency, and dependency
management.
{% endif %}
\item
Performed porting and developed porting tools to assist in the migration to
updated versions of Redhat Enterprise Linux, including 64-bit, saving
the company over \$20M during a single year's Q4 scaling.
\item
Designed and implemented a distributed application which allowed internal
customers to view logs for the build system to assist in debugging.
{% if LONG_RESUME %}
\item
As primary owner of the source control repository for the company,
migrated to new hardware, upgraded software, and ensured backups were
functioning.
\item
Contributed to the Environment Improvement Ninjas, a skunkworks project where I
used personal time to write tools to improve developer productivity.  The
Environment Improvement tools are, to the best of my knowledge, still used by
almost every developer at Amazon today.
{% endif %}
\end{itemize}

\section{EDUCATION}

{\bf Purdue University}, Lafayette, IN
\begin{itemize}
\item
Graduated in December of 2005 with a Bachelors degree in Electrical and
Computer Engineering.
\end{itemize}

% Programming Expertise
\section{PROGRAMMING AND TECHNOLOGY EXPERTISE}
\begin{itemize}
\item
Git: 9 / 10, over 10 years experience, extremely proficient (GitHub, Gerrit, Stash/Bitbucket, Git Internals, other SCM)
\item
Debian/Ubuntu Linux: 8 / 10, many years experience
\item
Java: 8 / 10, over 10 years experience (including some Java 8/9 features)
\item
Infosec: 8/10, over 10 years experience (including networking, custom firewall design, encryption, crypto currency as a user, designing security-first services, threat modeling)
\item
Python: 6 / 10, 6 years experience (including some Python 3 features)
\item
Ruby: 5 / 10, 4 years experience
\item
Perl: 5 / 10, 3 years experience
\item
C++: 5 / 10, 3 years experience
{% if LONG_RESUME %}
\item
Bash/Zsh: 5 / 10, over 10 years experience
\item
SQL (MySQL, PostgreSQL, Oracle): 3 / 10, many years experience
\item
Gradle: 5 / 10, many years experience
\item
Maven: 5 / 10, many years experience
\item
GNU Make: 5 / 10, many years experience
\item
Centos/Redhat Linux: 5 / 10, many years experience
\item
Golang: 1 / 10, interested in learning more!
\item
Rust: 1 / 10, interested in learning more!
{% else %}
\item
I am fluent Bash/Zsh, SQL, Gradle, Maven, Make, Centos/Redhat Linux, and interested in learning Golang or Rust
{% endif %}
\item
{\bf What do I mean by these numbers? Read more on my blog: \\
https://git.io/fjb0f}
\end{itemize}

\section{OPEN SOURCE WORK}
{\bf Atlassian Bitbucket Server Plugin: Stashbot} \hfill Primary Author
\\
https://github.com/terabyte/stashbot
\\
{\bf Atlassian Bitbucket Server Plugin: Codesearch} \hfill Primary Author
\\
https://github.com/terabyte/stash-codesearch-plugin
\\
{\bf QBT - QBT Build Tool} \hfill Core Developer
\\
http://qbtbuildtool.com
{%- if LONG_RESUME %}
\\
{\bf Atlassian Bitbucket Server Plugin: Disapproval Plugin} \hfill Primary Author
\\
https://github.com/terabyte/stash-disapproval-plugin
{% endif -%}

{% if LONG_RESUME %}
\section{INTERESTS}
Open Source Software, Epistemology, Classical Music, Orchestral Cello, Scientific Pursuits, Poker, Video Games

\section{REFERENCES}
Available upon request

{% endif %}
\end{resume}
\end{document}

%%________________________________________________________________________________________
%% EOF
%
