
%________________________________________________________________________________________
% @brief    LaTeX Resume for Carl Myers
% @author   Carl Harris Myers
% @url      https://www.cmyers.org
% @date     March 20, 2016
% @info     based on info from http://www.maxburstein.com/blog/creating-resume-using-latex/
%________________________________________________________________________________________
\documentclass[line, margin]{res}

\begin{document}

\name{\Large Carl Harris Myers}
\address{ Austin, TX $\bullet$ (206) 931-9916 $\bullet$ cmyers@cmyers.org $\bullet$ https://cmyers.org }

\begin{resume}

\section{OBJECTIVE}
As a senior/principal software engineer with over 15 years of industry
experience, I want to be a force multiplier by driving architecture and
workflows in large scale systems which delight other developers and result in
significant value.

{\bf I am passively open to opportunities in the Austin, TX area or remote roles}

{% if SHORT_RESUME %}
{\bf NOTE: this is an abbreviated resume to fit on two pages.  An extended version is available at http://cmyers.org/resume/resume-full.pdf}
{% elif LONG_RESUME %}
{\bf NOTE: this is an extended resume with complete work history.  An abbreviated two-page version is available at http://cmyers.org/resume/resume-short.pdf}
{% endif %}

\section{EXPERIENCE}
{\bf Cloudera, Inc.} -- Palo Alto, CA and Austin, TX
\\
\textit{Build and Release Engineer (IC4)} \hfill {\bf May 2016 -- Present}
\\
\begin{itemize}
\item
Contributed meaningfully to Automated Review Testing (ART) which
launched tiered test runs for developer submitted code reviews.  ART ensures a successful build for each proposed change, and upon completion runs increasingly comprehensive tiers of
test execution.  ART is implemented in Python.
\item
Through migration to a Docker based build system, delivered more reliable and
developer friendly builds.  The end result achieved cost savings and decreased
maintenance burden.  Backported system to legacy branches as well.  The
polyglot stack included Python, Java, C++, and others in the Hadoop ecosystem.
\item
Significantly improved build stability and reduced developer roadblocks due to
broken builds by implementing, and driving adoption of, a new commit workflow.
Before merging changes, the system vetted all developer commits by
running unit tests, an additional full stack build, and later tiered
integration test runs, supplementing code reviews.
\item
Supported the cloud spend task force to reduce the company's cloud-related costs
for compute and storage resources, achieving an annual savings of seven figures.
\item
As part of on-call rotation, supported all developer workflows and product branching/releases by resolving hundreds of tickets impacting individuals across the company.
\item
Drove recruiting activities including resume reviews, phone screens,
and in-person interviews to expand the team.
\end{itemize}

{\bf PernixData, Inc.} -- San Jose, CA
\\
\textit{Tools Engineer} \hfill {\bf June 2015 -- May 2016}
\\
\begin{itemize}
\item
Drove the migration from a legacy Git server to Atlassian Bitbucket Server.
\item
Wrote and maintained several additional plugins for the Atlassian ecosystem.
See Github, source available.
\item
Maintained legacy build systems while contributing to new build systems, and performed releases.
\end{itemize}

{\bf Palantir Technologies, Inc.} -- Palo Alto, CA
\\
\textit{Software Engineer, Internal Tools Team} \hfill {\bf April 2009 -- June 2015}
\\
\begin{itemize}
\item
Drove the migration of company-wide source control from Subversion to Git which
delivered a build system that guaranteed build stability and enabled automated
code testing.  Palantir realized significant gains in productivity and quality.
\item
Wrote and maintained several plugins for the Atlassian ecosystem.  Delivered
reduced support burden by enabling self-service access to the build system
for all projects in the company.  See Github, source available.
By 2015, over 500 projects were building using Stashbot, one such example.
\item
As the first and most tenured engineer on the ITOOLS team, provided scaled
support through guidance, best practices, customized tools, just-in-time
solutions, and proactive recommendations that decreased the support burden and
facilitated the exponential expansion of the company as they grew from 200 to
over 1000 employees.
\item
Evaluated new talent through on-site and phone interviews to directly
contribute to the growth and success of the ITOOLS team.  I directly
contributed to the hire of every new employee on the ITOOLS team and performed
over 200 interviews.
\end{itemize}

{\bf Amazon.com} -- Seattle, WA
\\
\textit{SDE, Multiple Teams} \hfill {\bf March, 2006 -- January, 2009}
\\
\begin{itemize}
\item
As project tech lead, worked on a localization tool which improved turn around times and reduced
costs for string translation.
\item
Helped maintain and support a complex build system used by over 2000 developers
which enforced unrivaled reproducibility, consistency, and dependency
management.  The tool regularly built a codebase which exceeded 200GB and 8
million files, split across more than 13,000 discrete packages.
\item
As primary owner of the source control repository for the company,
migrated to new hardware, upgraded software, and ensured backups were
functioning.
\item
Designed and implemented a distributed application which allowed internal
customers to view logs for the build system to assist in debugging.
\item
Performed porting and developed porting tools to assist in the migration to
updated versions of Redhat Enterprise Linux, including 64-bit, saving
the company over 20 million dollars during a single year's Q4 scaling.
\item
Contributed to the Environment Improvement Ninjas, a skunkworks project where I
used personal time to write tools to improve developer productivity.  The
Environment Improvement tools are, to the best of my knowledge, still used by
almost every developer at Amazon today.
\item
Evaluated newly-sourced talent through college recruiting, on-site interviews,
and phone interviews.
\end{itemize}

\section{EDUCATION}

{\bf Purdue University}, Lafayette, IN
\begin{itemize}
\item
Graduated in December of 2005 with a Bachelors degree in Electrical and
Computer Engineering.
\end{itemize}

% Programming Expertise
\section{PROGRAMMING AND TECHNOLOGY EXPERTISE}
\begin{itemize}
\item
Git: 9 / 10, 9 years experience
\item
Java: 8 / 10, 10 years experience
\item
Python: 6 / 10, 4 years experience
\item
Ruby: 5 / 10, 4 years experience
\item
Perl: 5 / 10, 3 years experience
\item
C++: 5 / 10, 3 years experience
\item
I consider myself extremely proficient in source control in general and Git in particular.  I am deeply knowledgeable about Git internals and source code, as well as various Git related projects such as Gerrit, Github, and Atlassian Bitbucket Server (nee Stash).
I am also fluent with Bash/Zsh, SQL, Gradle, Maven, Make, Debian/Ubuntu Linux, Centos/Redhat Linux.  I would be very interested in learning more about Golang or Rust, and have had small interactions with them in the past.
\end{itemize}

\section{OPEN SOURCE WORK}
{\bf Atlassian Bitbucket Server Plugin: Stashbot} \hfill Primary Author
\\
https://github.com/terabyte/stashbot
\\
{\bf Atlassian Bitbucket Server Plugin: Codesearch} \hfill Primary Author
\\
https://github.com/terabyte/stash-codesearch-plugin
\\
{\bf QBT - QBT Build Tool} \hfill Core Developer
\\
http://qbtbuildtool.com
\\

\section{INTERESTS}
Open Source Software, Epistemology, Classical Music, Playing Cello,
Scientific Pursuits, Poker, Video Games

\section{REFERENCES}
Available upon request

\end{resume}
\end{document}

%%________________________________________________________________________________________
%% EOF
%
