
%________________________________________________________________________________________
% @brief    LaTeX Resume for Carl Myers
% @author   Carl Harris Myers
% @url      https://www.cmyers.org
% @date     March 20, 2016
% @info     based on info from http://www.maxburstein.com/blog/creating-resume-using-latex/
%________________________________________________________________________________________
% TODO: prevent weird page breaks after headings - maybe \begin{samepage} ?
% TODO: pull strength key off to the left as visual chart?
% TODO: write a blog post about what X/10 means, link to it instead
% TODO: consider HTML resume instead (so I can have active elements) with PDF conversion tool like https://www.quora.com/What-is-the-best-way-to-generate-a-PDF-file-from-HTML-and-CSS
\documentclass[line, margin]{res}

\begin{document}

\name{\Large Carl Harris Myers}
\address{ Austin, TX $\bullet$ (206) 931-9916 $\bullet$ cmyers@cmyers.org $\bullet$ https://cmyers.org }

\begin{resume}

\section{OBJECTIVE}
As a senior/principal software engineer with over 15 years of industry
experience, I want to be a force multiplier by driving architecture and
workflows in large scale systems which delight other developers and result in
significant value.

{\bf NOTE: I am open to opportunities in the Austin, TX area or remote roles.
{%- if SHORT_RESUME %}  This is an abbreviated resume to fit on two pages.  An extended version is available at http://cmyers.org/resume/resume-full.pdf
{%- elif LONG_RESUME %}  This is an extended resume with complete work history.  An abbreviated two-page version is available at http://cmyers.org/resume/resume-short.pdf
{%- endif -%}
}

\section{EXPERIENCE}
{\bf Cloudera, Inc.} -- Palo Alto, CA and Austin, TX
\\
\textit{Build and Release Engineer (IC4)} \hfill {\bf May 2016 -- Present}
\\
\begin{itemize}
\item
Contributed meaningfully to Automated Review Tool (ART) which
launched tiered test runs for developer submitted code reviews.
{% if LONG_RESUME -%}
ART ensures a successful build for each proposed change, and upon completion runs increasingly comprehensive tiers of
test execution.
{%- endif %}
ART is implemented in Python.
\item
Through migration to a Docker based build system, delivered more reliable and
developer friendly builds.
{%- if LONG_RESUME %}
The end result achieved cost savings and decreased
maintenance burden.  Backported system to legacy branches as well.  The
polyglot stack included Python, Java, C++, and others in the Hadoop ecosystem.
{%- endif %}
\item
Significantly improved build stability and reduced developer roadblocks due to
broken builds by implementing, and driving adoption of, a new commit workflow.
{%- if LONG_RESUME %}
Before merging changes, the system vetted all developer commits by
running unit tests, an additional full stack build, and later tiered
integration test runs, supplementing code reviews.
{%- endif %}
\item
Supported the cloud spend task force to reduce the company's cloud-related costs
for compute and storage resources, achieving an annual savings of seven figures.
\item
As part of on-call rotation, supported all developer workflows and product branching/releases by resolving hundreds of tickets impacting individuals across the company.
\item
Drove recruiting activities including resume reviews, phone screens,
and in-person interviews to expand the team.
\end{itemize}

{\bf PernixData, Inc.} -- San Jose, CA
\\
\textit{Tools Engineer} \hfill {\bf June 2015 -- May 2016}
\\
\begin{itemize}
\item
Drove the migration from a legacy Git server to Atlassian Bitbucket Server.
\item
Wrote and maintained several additional plugins for the Atlassian ecosystem.
See open source section below, source available.
\item
Maintained legacy build systems while contributing to new build systems.
{% if LONG_RESUME %}
\item
Performed releases and branching activities.
\item
Produced a fix tracking tool called the Entomologizer.
{% endif %}
\end{itemize}

{\bf Palantir Technologies, Inc.} -- Palo Alto, CA
\\
\textit{Software Engineer, Internal Tools Team} \hfill {\bf April 2009 -- June 2015}
\\
\begin{itemize}
\item
Drove the migration of company-wide source control from Subversion to Git which
delivered a build system that guaranteed build stability and enabled automated
code testing.
{% if LONG_RESUME -%}
Palantir realized significant gains in productivity and quality.
{%- endif %}
\item
Wrote and maintained several plugins for the Atlassian ecosystem.
{%- if LONG_RESUME %} Delivered reduced support burden by enabling self-service access to the build
system for all projects in the company.
See open source section below, source available.
{%- endif %}
By 2015, over 500 projects were building using Stashbot, one such example.
\item
{% if LONG_RESUME %}
As the first and most tenured engineer on the ITOOLS team, provided scaled
support through guidance, best practices, customized tools, just-in-time
solutions, and proactive recommendations that decreased the support burden and
facilitated the exponential expansion of the company as they grew from 200 to
over 1000 employees.
{% else %}
Provided scaled support that facilitated the exponential expansion of the company as they grew from 200 to
over 1000 employees.
{% endif %}
\item
{% if LONG_RESUME %}
Evaluated new talent through on-site and phone interviews to directly
contribute to the growth and success of the ITOOLS team.  I directly
contributed to the hire of every new employee on the ITOOLS team and performed
over 200 interviews.
{% else %}
Evaluated new talent, directly contributed to the hire of every new employee on the ITOOLS team, and performed
over 200 interviews.
{% endif %}
\end{itemize}
{\bf Amazon.com} -- Seattle, WA
\\
\textit{SDE, Multiple Teams} \hfill {\bf March, 2006 -- January, 2009}
\\
\begin{itemize}
\item
As project tech lead, worked on a localization tool which improved turn around times and reduced
costs for string translation.
\item
{% if LONG_RESUME %}
Helped maintain and support a complex build system used by over 2000 developers
which enforced unrivaled reproducibility, consistency, and dependency
management.  The tool regularly built a codebase which exceeded 200GB and 8
million files, split across more than 13,000 discrete packages.
{% else %}
Helped maintain and support build system which enforced unrivaled reproducibility, consistency, and dependency
management.
{% endif %}
\item
{% if LONG_RESUME %}
As primary owner of the source control repository for the company,
migrated to new hardware, upgraded software, and ensured backups were
functioning.
{% else %}
Migrated source control to new hardware, upgraded software, and ensured backups were functioning.
{% endif %}
\item
Designed and implemented a distributed application which allowed internal
customers to view logs for the build system to assist in debugging.
\item
{% if LONG_RESUME %}
Performed porting and developed porting tools to assist in the migration to
updated versions of Redhat Enterprise Linux, including 64-bit, saving
the company over 20 million dollars during a single year's Q4 scaling.
{% else %}
Performed porting and developed porting tools to assist in a 64-bit linux
migration, saving the company over 20 million dollars during a single year's Q4
scaling.
{% endif %}
{% if LONG_RESUME %}
\item
Contributed to the Environment Improvement Ninjas, a skunkworks project where I
used personal time to write tools to improve developer productivity.  The
Environment Improvement tools are, to the best of my knowledge, still used by
almost every developer at Amazon today.
{% endif %}
\item
Evaluated newly-sourced talent through college recruiting, on-site interviews,
and phone interviews.
\end{itemize}

\section{EDUCATION}

{\bf Purdue University}, Lafayette, IN
\begin{itemize}
\item
Graduated in December of 2005 with a Bachelors degree in Electrical and
Computer Engineering.
\end{itemize}

% Programming Expertise
\section{PROGRAMMING AND TECHNOLOGY EXPERTISE}
\begin{itemize}
\item
Git: 9 / 10, 9 years experience, extremely proficient (Github, Gerrit, Stash/Bitbucket, Git Internals, other SCM)
\item
Java: 8 / 10, 10 years experience (including some Java 8/9 features)
\item
Python: 6 / 10, 4 years experience (including some Python 3 features)
\item
Ruby: 5 / 10, 4 years experience
\item
Perl: 5 / 10, 3 years experience
\item
C++: 5 / 10, 3 years experience
{% if LONG_RESUME %}
\item
Bash/Zsh: 5 / 10, many years experience
\item
SQL (MySQL, PostgreSQL, Oracle): 3 / 10, many years experience
\item
Gradle: 5 / 10, many years experience
\item
Maven: 5 / 10, many years experience
\item
GNU Make: 5 / 10, many years experience
\item
Debian/Ubuntu Linux: 8 / 10, many years experience
\item
Centos/Redhat Linux: 5 / 10, many years experience
\item
Golang: 1 / 10, interested in learning more!
\item
Rust: 1 / 10, interested in learning more!
{% else %}
\item
I am fluent Bash/Zsh, SQL, Gradle, Maven, Make, Debian/Ubuntu Linux, Centos/Redhat Linux, and interested in learning Golang or Rust
{% endif %}
\item
{\bf What do I mean by these numbers? Read more on my blog: \\
https://git.io/fjb0f}
\end{itemize}

\section{OPEN SOURCE WORK}
{\bf Atlassian Bitbucket Server Plugin: Stashbot} \hfill Primary Author
\\
https://github.com/terabyte/stashbot
\\
{\bf Atlassian Bitbucket Server Plugin: Codesearch} \hfill Primary Author
\\
https://github.com/terabyte/stash-codesearch-plugin
\\
{\bf QBT - QBT Build Tool} \hfill Core Developer
\\
http://qbtbuildtool.com
{%- if LONG_RESUME %}
\\
{\bf Atlassian Bitbucket Server Plugin: Disapproval Plugin} \hfill Primary Author
\\
https://github.com/terabyte/stash-disapproval-plugin
{% endif -%}

\section{INTERESTS}
Open Source Software, Epistemology, Classical Music, Orchestral Cello, Scientific Pursuits, Poker, Video Games

\section{REFERENCES}
Available upon request

\end{resume}
\end{document}

%%________________________________________________________________________________________
%% EOF
%
